<%- model_class = Signee -%>
<%= render :partial => 'form' %>
<div class="row-fluid">
  <span class="span12">Powered by: </span>
  <div class="row-fluid" id="sponsors">
    <div class="span4" id="ubiqua"><%= image_tag("ubiqua.png") %></div>
    <div class="span4" id="usma"><%= image_tag("usma.png") %></div>
    <div class="span4" id="taller"><%= image_tag("taller.jpg") %></div>
  </div>
</div>
