<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1 style="text-align: center;">Escuela de Emprendedores</h1>
    <h2 style="text-align: center;">Aprender a Emprender</h2>
    <p>
      <b>Gracias por registrarte a la primera ronda de eventos de la Escuela de Emprededores.</b>

      Bienvenido al movimiento que formar치 a los futuros emprendedores de Panam치.

      Pronto estar치s recibiendo mas informaci칩n sobre la primera ronda de eventos, titulada: <b>Encuentra tu Proyecto</b>.

      Saludos,

      Escuela de Emprendedores
    </p>
  </body>
</html>
